# Entorno virtual
venv/
.env

# Base de datos local
db.sqlite3

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Migraciones y logs
*/migrations/__pycache__/
*.log
*.pot
*.pyc

# Archivos del sistema
.DS_Store
Thumbs.db

